.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  height: 60px;
  padding: 0;
}

@media (min-width: 769px) {
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
}

.header__logo {
  height: 50px;
  transition: all 0.25s;
  margin-left: 20px;
}

.header__logo:hover {
  opacity: 50%;
}

@media (min-width: 769px) {
  .header__logo {
    width: 80px;
    height: auto;
    margin-left: 0;
  }
}

.header__menu-input {
  display: none;
}

.header__menu-input:checked ~ .header__menu-li {
  height: 100vh;
}

.header__menu-input:checked ~ .header__menu-li li {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header__menu-label {
  cursor: pointer;
}

.header__menu {
  width: auto;
  height: 30px;
  margin-right: 20px;
}

@media (min-width: 769px) {
  .header__menu {
    display: none;
    margin-right: 0;
  }
}

.header__menu-li {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 60px;
  background-color: #141414;
  opacity: 95%;
  text-align: center;
  transition: all 0.5s;
  padding: 0;
  z-index: 50;
}

@media (min-width: 769px) {
  .header__menu-li {
    display: none;
  }
}

.header__menu-li li {
  list-style: none;
  display: none;
  line-height: 60px;
  margin: 30px 0;
  transition: all 0.5s;
}

.header__menu-li li a {
  color: #fafafa;
}

.header__menu-input {
  display: none;
}

.header__menu-input:checked ~ .header__menu-li {
  height: 100vh;
}

.header__menu-input:checked ~ .header__menu-li li {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header__menu-nav {
  display: none;
}

@media (min-width: 769px) {
  .header__menu-nav {
    display: flex;
    gap: 45px;
    font-family: "Roboto Regular", "sans-serif";
    color: var(--black);
  }
}

.header__option {
  transition: all 0.25s;
  cursor: pointer;
  font-family: "Roboto Regular", "sans-serif";
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}

.header__option:hover {
  opacity: 50%;
}
