.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  height: 60px;
  padding: 0px 18px;
}

@media (min-width: 769px) {
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
}

.logo-header {
  height: 50px;
  transition: all 0.25s;
}

.logo-header:hover {
  opacity: 50%;
}

@media (min-width: 769px) {
  .logo-header {
    width: 80px;
    height: auto;
  }
}

.menu {
  height: 30px;
}

@media (min-width: 769px) {
  .menu {
    display: none;
  }
}

.options-wrapper {
  display: none;
}

@media (min-width: 769px) {
  .options-wrapper {
    display: flex;
    gap: 45px;
    font-family: "Roboto Regular", "sans-serif";
    color: var(--black);
  }
}

.options-header {
  transition: all 0.25s;
  cursor: pointer;
  font-family: "Roboto Regular", "sans-serif";
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}

.options-header:hover {
  opacity: 50%;
}
