.section-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  width: 100%;
  min-height: 600px;
  padding: 65px 25px;
  color: var(--black);
  font-family: "Roboto Regular", cursive;
}

@media (min-width: 769px) {
  .section-3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }
}

.pic-section-1 {
  grid-column: 2;
  grid-row: 2;
}

.contact__container {
  grid-column: 1;
  grid-row: 2;
}

.title-section-3 {
  margin: 0px;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 35px;
}

/* @media (min-width: 769px) {
  .title-section-3 {
    grid-column: 1;
    grid-row: 1;
  }
} */

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 300px;
}

/* @media (min-width: 769px) {
  .form-wrapper {
    grid-column: 2;
    grid-row: 1;
  }
} */

.name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-input {
  background-color: var(--background);
  border: solid;
  border-color: gray;
  border-radius: 5px;
  height: 35px;
  font-family: "Roboto Regular", cursive;
  font-size: 15px;
  color: var(--black);
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email-input {
  background-color: var(--background);
  border: solid;
  border-color: gray;
  border-radius: 5px;
  height: 35px;
  font-family: "Roboto Regular", cursive;
  font-size: 15px;
  color: var(--black);
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-textarea {
  background-color: var(--background);
  border: solid;
  border-color: gray;
  border-radius: 5px;
  height: 120px;
  font-family: "Roboto Regular", cursive;
  font-size: 15px;
  color: var(--black);
}

.button-enviar {
  background-color: var(--red);
  color: var(--background);
  font-family: "Roboto Regular", cursive;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  height: 35px;
  margin-top: 10px;
  transition: all 0.25s;
}

.button-enviar:hover {
  opacity: 50%;
}

.contact__social-media {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-content: center;
  display: grid;
  gap: 10px;
}

.footer__social-media-link {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: all 0.25s ease-out;
}

.footer__social-media-link:hover {
  opacity: 50%;
}

.footer__social-media-logo {
  width: auto;
  height: 28px;
}

.footer__social-media-name {
  cursor: pointer;
  color: #141414;
}
