.section-1 {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: space-between;
  width: 100%;
  min-height: 600px;
  padding: 65px 25px;
  color: var(--black);
}

@media (min-width: 769px) {
  .section-1 {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.section-1-wrapper {
  display: grid;
  justify-items: center;
  align-content: space-around;
  min-width: 100px;
}

@media (min-width: 769px) {
  .section-1-wrapper {
    justify-items: flex-start;
    align-content: center;
    align-items: center;
    grid-template-columns: 2;
    grid-template-rows: 2;
  }
}

.title-section-1 {
  margin: 0;
  font-family: "Minion Pro Bold", "Times New Roman";
  font-size: 32px;
}

@media (min-width: 769px) {
  .title-section-1 {
    grid-column: 2;
    grid-row: 1;
  }
}

.paragraph-section-1 {
  margin: 0;
  font-family: "Minion Pro Regular", "Times New Roman";
  font-size: 16px;
  width: 350px;
}

@media (min-width: 769px) {
  .paragraph-section-1 {
    grid-column: 2;
    grid-row: 2;
    width: 600px;
  }
}

.pic-section-1 {
  opacity: 85%;
  height: 120px;
  padding: 0px;
}

@media (min-width: 769px) {
  .pic-section-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: auto;
    height: 200px;
    margin-right: 50px;
  }
}
