.cat-general-container {
  display: grid;
  gap: 10px;
}

@media (min-width: 700px) {
  .cat-general-container {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

.cat-container {
  position: relative;
  text-align: center;
}

.cat-container .cat-img {
  transition: all 0.25s;
}

.cat-container .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Minion Pro Bold", "Times New Roman";
  font-size: 50px;
  line-height: 40px;
  opacity: 0;
  color: var(--red);
  margin: 0;
  transition: all 0.25s;
}

@media (min-width: 1000px) {
  .cat-container .text-overlay {
    font-size: 35px;
    line-height: 30px;
  }
}

.cat-img {
  width: auto;
  height: 150px;
}

@media (min-width: 1000px) {
  .cat-img {
    width: 200;
  }
}

.cat-container:hover {
  .text-overlay {
    opacity: 1;
  }
  .cat-img {
    filter: blur(3px) grayscale(100%);
  }
}
