.card-container {
  display: grid;
  gap: 0px;
  background-color: var(--red);
  width: 320px;
  height: 200px;
  overflow: hidden;
  color: var(--background);
  padding: 10px;
}

@media (min-width: 769px) {
  .card-container {
    gap: 12px;
    width: 250px;
    height: auto;
    padding-bottom: 10px;
  }
}

.card-img {
  grid-row: 1 / span 2;
  grid-column: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-price-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media (min-width: 769px) {
  .card-price-link {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 10px;
  }
}

.card__title {
  font-family: "Minion Pro Regular", "Times New Roman";
}

.card__price {
  font-family: "Minion Pro Bold", "Times New Roman";
}

/* .card__button {
  grid-row: 2;
  grid-column: 2;
} */
