.general-comp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  min-height: calc(100vh - 160px);
  overflow: auto;
  padding: 40px 0;
}

.general-section__wrapper {
  display: grid;
  justify-content: center;
  gap: 35px;
}

@media (min-width: 700px) {
  .general-section__wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}
