.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--background);
  color: var(--black);
  height: auto;
  padding: 30px 0px;
}

@media (min-width: 769px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    padding: 10px 30px;
  }
}

.footer-logo-copyright {
  display: grid;
  justify-items: center;
  gap: 7px;
}

.footer-copyright {
  font-family: "Roboto Regular", cursive;
  font-size: 12px;
  margin: 0px;
}

.footer-socialmedia {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 769px) {
  .footer-socialmedia {
    gap: 10px;
  }
}

.footer__links {
  height: 35px;
  transition: all 0.25s;
}

.footer__links:hover {
  opacity: 50%;
}

.socialmedia-logo {
  height: 30px;
}

@media (min-width: 769px) {
  .socialmedia-logo {
    width: 40px;
    height: auto;
  }
}
